/* src/pages/HomePage.css */

.animated-background {
    background-color: #000000; /* Black */
    background-image: linear-gradient(90deg, #000000, #1e3c72); /* Blue */
    background-size: cover; /* Ensure the gradient covers the area */
  }
  